<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="AlphaVantageApiKey" value="" />
        <add key="WeatherApiKey" value="" />
        <add key="DefaultForecastHorizon" value="30" />
        <add key="ConfidenceInterval" value="95" />
        <add key="DefaultModel" value="SSA" />
        <add key="DefaultLeadTime" value="7" />
        <add key="DefaultReorderThreshold" value="100" />
        <add key="ServiceLevel" value="95" />
        <add key="DefaultDataDirectory" value="" />
        <add key="AutoSaveForecasts" value="true" />
        <add key="AutoRefreshMarketData" value="true" />
    </appSettings>
</configuration> 